# SPDX-FileCopyrightText: 2026 Axle Duggan (axlecoffee) <contact@axle.coffee>
# SPDX-License-Identifier: AGPL-3.0-only
RUSTFS_ACCESS_KEY=replace-me
RUSTFS_SECRET_KEY=replace-me
MONGODB_URI=mongodb+srv://username:password@cluster.example/hst-api
S3_ENDPOINT=https://rustfs.axle.coffee
S3_REGION=ca-1
S3_BUCKET=haste-store
TRUSTED_PROXY_IPS=